
@mixin card-broad-border-type {
	border:{
		radius: 0;
		width: 1px;
		style: solid;
		color: $gray-500;}
		&:hover {
			box-shadow: -10px 21px 20px $gray-500;
		}
}

@mixin card-border-type {
	border-bottom:{
		radius: 0;
		width: 1px;
		style: solid;
		color: $gray-500;}
		}

.card {
	@include card-broad-border-type; //card-broad
	border-top: none; //card-broad

	&-body  {			//card
		display: flex; //card-broad card
		align-items: center;//card-broad card
		justify-content: space-between; //card-broad card
		padding:$card-spacer-x-top $card-spacer-x  $card-spacer-x-bt; //card
		}

	&-cat {
		font-weight: $font-weight-medium; //card-broad card
		}

 	.bg-img { //card-broad
		    background-image: url(../images/template-5.jpg);
		    background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
	}

	&-img-left-wrapper{ //card-broad
		min-height: 180px;
		overflow: hidden;

		@media (min-width: 768px){
			-webkit-box-flex: 0;
	    	-ms-flex: 0 0 100%;
	    	flex: 0 0 100%;
	    	max-width: 100%;
		}
		@media (min-width: 992px){
	    	max-width: 27.5%;
		}
	}

	&-footer {
		background-color: transparent; //card-broad card
		display: flex;//card-broad card
		align-items: center;//card-broad card
		justify-content: space-between;//card-broad card
		padding: $spacer $card-spacer-x; //card
		}

	.card-autor {//card-broad card
		display: flex;
		align-items: center;
		}

	.card-autor-img { //card-broad card
		display: inline-block;
		width: 30px;
		height:30px;
		border-radius: 50%;
		background-color: $gray-800;
		margin-right: 10px;
		}

	&-autor-name { //card-broad card
		color: $cyan;

		&:hover {
			color:$primary; //card-broad card
		}
	}

	.card-raiting-icon { //card-broad card
		color: $orange;
		transition: 0.2s;
		cursor: pointer;
		&.marked, &:hover {
			&:before{
				content: '\f005';
			}
		}
	}

	.card-rating, .card-feedback, .card-likes{ //card-broad card
		font-size: $font-size-sm;
		text-align: center;
		flex-basis:auto;}

	.card-rating-value { //card-broad card
		color: $dark;
		}

}

.card-broad {
	max-height: 183px;
	@media (min-width: 992px){
		.col-md-spesial-725{
			height: 180px;
		    -webkit-box-flex: 0;
		    -ms-flex: 0 0 75%;
			flex: 0 0 72.5%;
			max-width: 72.5%;}
		}
	.card-body{
		padding: 10px 0 0;

		.card-body-inner{
			padding: 14px 10px;

		}

		.card-price{
			display: inline-block;
			> h2 { //card-broad
		margin-bottom: 15px;}

		}
}
	@media (min-width: 992px){
		.card-body{
			padding: 10px 32px 0;
			.card-body-inner{
			padding: 14px 0;

		}
		}
	}


	h2 + .card-rating-number { //card-broad
		font-size: $font-size-base*0.8125;
	}
	.card-rating-number {//card-broad
		color: $cyan;
		}

		.card-feedback, .card-likes {  //card-broad
		display: flex;
		flex-direction: column;
		padding-left: 24px;
		border-left: 2px solid $cyan;
		@media(min-width: 576px){
			flex-direction: row;
			justify-content: center;
			padding-left: 20px;
		}
		.card-footer-icon{
			padding-right: 0;
			@media(min-width: 576px){
				padding-right: 10px;
			}
		}
	}
	.card-footer {
		padding: 15px 0 15px;
		justify-content:start;
		.card-autor {
			margin-left: 15px;
		}
		.card-statistic { //card-broad
		display: flex;
		width: 58%;
		}
	}

		@media (min-width: 992px){
		.card-footer{
			padding: 15px;
		}
	}

}

	a.card-cat + p.card-text { //card-broad
		margin-top: 10px;
	}

.card-img-top-wrapper {
	overflow: hidden;
	img {
		object-fit: cover;
		max-height: 160px;
	}
}

@media (min-width: 992px){
.col-lg-spesial-934{
	    -webkit-box-flex: 0;
		-ms-flex: 0 0 93.548%;
		flex: 0 0 93.548%;
		max-width: 93.548%;
}}

@media (min-width: 1200px){
.col-xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
	}
}